@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* Hardware acceleration */
html,
body {
  transform: translateZ(0);
}

html {
  scroll-behavior: smooth;
}

body {
  background: url("../assets/images/bg.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: color-burn;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track - The area behind the scrollbar */
::-webkit-scrollbar-track {
  background: #000;
}

/* Thumb - The draggable handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* On hover, make the thumb more visible */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
